<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/vendor/error-404/styles.css}" rel="stylesheet"
	media="all">
<body>

	<!-- Error Page -->
	<div class="container">
		<div class="error">
			<p class="p">5</p>
			<span class="dracula">
				<div class="con">
					<div class="hair"></div>
					<div class="hair-r"></div>
					<div class="head"></div>
					<div class="eye"></div>
					<div class="eye eye-r"></div>
					<div class="mouth"></div>
					<div class="blod"></div>
					<div class="blod blod2"></div>
				</div>
			</span>
			<p class="p">5</p>

			<div class="page-ms">
				<p class="page-msg">Oops, the page you're looking for
					Disappeared</p>
				<button class="go-back">Go Back</button>
			</div>
		</div>


		<!-- 	<p>Auto back to home page</p> -->
	</div>
	<!-- Error Page -->
</body>